{% extends "base.html" %}

{% block title %}My Cart{% endblock %}

{% block content %}
<h2>My Cart:</h2>
{%if cart %}
    <ul>
            <li>
                <p>Item Object: {{ cart.product.name }}</p>
                <p>Product Object: {{ item.product.price}}</p>
                <p>Product Name: {{ item.product.name }}</p>
                <p>Product Image URL: {% if item.product.image %}{{ item.product.image.url }}{% else %}No image{% endif %}</p>
            </li>
    </ul>
{%else%}
<p>No cart found</p>
{% endif %}
{% endblock %}
